.DS_Store
# document/.env
Puzzle15_site/env
document/build
TS_Projects
*.o
*.out
test
~$*
*.pyc
RasPi_py_projects/ex22_sqlite/puzzle15.db
RasPi_py_projects/ex22_sqlite/records.csv
RasPi_py_projects/ex22_sqlite/puzzle15.db
RasPi_py_projects/ex22_sqlite/records.csv
RasPi_py_projects/ex22_sqlite/puzzle15.db
RasPi_py_projects/ex22_sqlite/records.csv
*.log
