.DS_Store
document/.env
Puzzle15_site/env
document/build
TS_Projects
*.o
*.out
test
~$*
*.pyc
Puzzle15_site/puzzle15/*.db
Puzzle15_site/records.csv
RasPi_py_projects/ex24_flask/pazzle15/*.db
RasPi_py_projects/ex24_flask/records.csv
RasPi_py_projects/ex2x_mix/pazzle15.db
RasPi_py_projects/ex22_mix/records.csv
RasPi_py_projects/ex22_sqlite/pazzle15.db
RasPi_py_projects/ex22_sqlite/records.csv
*.log
Puzzle15_site/poetry.lock
Puzzle15_site/instance/*