{% extends "page_layout.html" %}
{% block title %}
Puzzle15 Players
{% endblock %}
{% block content %}
<h1>Players</h1>
<div class="list-group">
  {% for p in players %}
  <div class="list-group-item">
    <div class="d-flex align-items-center justify-content-between">
      <strong class="mb-1">
        番号：{{p.player_id}}
      </strong>
      <small>追加：{{ p.get_created_dt_jst() }}</small>
    </div>
    <p>名前：{{p.name}}</p>
    <p>
      {% if p.is_current() %}
      <strong>選択中</strong>
      {% else %}
    <form method="POST">
      <input type="hidden" name="select_id" value="{{p.player_id}}">
      <input type="submit" name="send" value="選択">
    </form>
    {% endif %}
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}